.idea
upload/system/.DS_Store
upload/system/myparcelnl/.DS_Store
upload/.DS_Store
upload/admin/.DS_Store
upload/admin/language/.DS_Store
upload/admin/language/en-gb/.DS_Store
upload/admin/language/en-gb/extension/.DS_Store
.DS_Store
